* {
    font-family: cursive;
  }
body {
  background-color: cyan;
  font-family: cursive;
      }
header {
    color:orange ;
}
footer {
  width: 100px;
  height: 100px;
  color: #0a0801;
}


input

